@charset "UTF-8";


// border-radius
@mixin border-radius ( $arguments ) {
	-webkit-border-radius: $arguments;
	        border-radius: $arguments;
	        @include background-clip;
}
// background-clip
@mixin background-clip {
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}
//gradient
@mixin gradient($color-form, $color-to) {
	background: $color-form; // Old browsers
	background: -moz-linear-gradient(top, $color-form 0%, $color-to 100%); // FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-form), color-stop(100%,$color-to)); // Chrome,Safari4+
	background: -webkit-linear-gradient(top, $color-form 0%, $color-to 100%); // Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, $color-form 0%, $color-to 100%); // Opera 11.10+
	background: -ms-linear-gradient(top, $color-form 0%, $color-to 100%); // IE10+
	background: linear-gradient(to bottom, $color-form 0%, $color-to 100%); // W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-form', endColorstr='$color-to',GradientType=0 ); // IE6-9

}
// box-shadow
@mixin box-shadow( $x:0, $y:0, $blur:4, $color:rgba(0,0,0,.6) ) {
	-webkit-box-shadow: $x + 0px $y + 0px $blur + 0px $color;
	        box-shadow: $x + 0px $y + 0px $blur + 0px $color;
}
// text-shadow
@mixin textshadow ( $x:1px, $y:1px, $blur:3px, $color:rgba(0,0,0,.8) ) {
	text-shadow: $x + 0px $y + 0px $blur + 0px $color;
}

// transition
// http://goo.gl/LnJck
@mixin transition ( $what:all, $time:.3s, $ease:ease-out, $delay:0 ) {
	-webkit-transition: $what $time $ease $delay;
	   -moz-transition: $what $time $ease $delay;
	    -ms-transition: $what $time $ease $delay;
	     -o-transition: $what $time $ease $delay;
		    transition: $what $time $ease $delay;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}
// text-shadow
@mixin textshadow ( $x:1px, $y:1px, $blur:3px, $color:rgba(0,0,0,.8) ) {
	text-shadow: $x + 0px $y + 0px $blur + 0px $color;
}

// 盒模型
@mixin box ( $orient:horizontal, $pack:center, $align:center ) {
	           display: -webkit-box;
	           display: -moz-box;
	           display: box;
	-webkit-box-orient: $orient;
	   -moz-box-orient: $orient;
	        box-orient: $orient;
	  -webkit-box-pack: $pack;
	     -moz-box-pack: $pack;
	          box-pack: $pack;
	 -webkit-box-align: $align;
	    -moz-box-align: $align;
	         box-align: $align;
}
@mixin flex ( $val: 1 ) {
	-webkit-box-flex: $val;
	   -moz-box-flex: $val;
	        box-flex: $val;
}
// columns
@mixin columns ( $count:2, $gap:10px ) {
	-webkit-column-count: $count;
	   -moz-column-count: $count;
	        column-count: $count;
	  -webkit-column-gap: $gap;
	     -moz-column-gap: $gap;
	          column-gap: $gap;
}

// 变换原点(参照点)
@mixin transform-origin ( $x: center, $y: center ) {
	-webkit-transform-origin: $x $y;
	   -moz-transform-origin: $x $y;
	    -ms-transform-origin: $x $y;
	     -o-transform-origin: $x $y;
	        transform-origin: $x $y;
}